@model IEnumerable<Model.EF.Stock>
@{
    ViewBag.Title = "Danh sách sản phẩm trong kho";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutAdmin.cshtml";
    List<Model.EF.Size> ListSizeSelling = ViewBag.ListSizeSelling as List<Model.EF.Size>;
    List<Model.EF.Color> ListColorSelling = ViewBag.ListColorSelling as List<Model.EF.Color>;
    List<Model.EF.Product> ListProductSelling = ViewBag.ListProductSelling as List<Model.EF.Product>;
}

@section head
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Asset/Manager/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Asset/Manager/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Asset/Manager/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/Asset/Manager/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Asset/Manager/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <!-- Toastr -->
    <link rel="stylesheet" href="~/Asset/Manager/plugins/toastr/toastr.min.css">
}

<div class="card card-outline card-olive">
    <div class="card-header">
        <h3 class="card-title">Danh sách sản phẩm trong kho</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title text-primary"><i class="fas fa-plus"></i> Thêm sản phẩm vào kho</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Mã SP</label>
                            <div class="input-group">
                                <select id="productid" class="form-control">
                                    @foreach (var item in ListProductSelling)
                                    {
                                        <option value="@item.ProductID">@item.ProductID</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Kích thước</label>
                            <div class="input-group">
                                <select id="sizeid" class="form-control">
                                    @foreach (var item in ListSizeSelling)
                                    {
                                        <option value="@item.SizeID">@item.SizeName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Màu sắc</label>
                            <div class="input-group">
                                <select id="colorid" class="form-control">
                                    @foreach (var item in ListColorSelling)
                                    {
                                        <option value="@item.ColorID">@item.ColorName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="input-group">
                                <button id="insert" type="button" class="btn btn-primary" onclick="InsertStock()"><i class="fas fa-plus"></i> Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>

        <table id="myTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Mã SP</th>
                    <th>Kích thước</th>
                    <th>Màu sắc</th>
                    <th>Số lượng tồn</th>
                    <th>Tồn kho</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row-@item.ProductID-@item.SizeID-@item.ColorID">
                        <td>@item.ProductID</td>
                        <td>@item.Size.SizeName</td>
                        <td>@item.Color.ColorName&nbsp;&nbsp;<span><i class="fas fa-square" style="color: @item.ColorID"></i></span></td>
                        <td>@item.Quantity</td>
                        <td>@Html.CheckBoxFor(modelItem => item.Status, new { @id = "status-" + item.ProductID + "-" + item.SizeID + "-" + item.ColorID, @onchange = "ChangeStatusStock('" + item.ProductID + "', '" + item.SizeID + "', '" + item.ColorID + "')" })</td>
                        <td>
                            <a class="text-success" style="cursor: pointer" data-toggle="modal" data-target="#modal-default" onclick="GetIdForImportFunction('@item.ProductID', '@item.SizeID', '@item.ColorID');"><i class="fas fa-download"></i></a>
                            <a class="text-danger ml-2" style="cursor: pointer" data-toggle="modal" data-target="#modal-default" onclick="GetIdForExportFunction('@item.ProductID', '@item.SizeID', '@item.ColorID');"><i class="fas fa-upload"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Mã SP</th>
                    <th>Kích thước</th>
                    <th>Màu sắc</th>
                    <th>Số lượng tồn</th>
                    <th>Tồn kho</th>
                    <th>Hành động</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content card-outline card-olive">
            <div class="modal-header">
                <h5 class="modal-title" id="title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="quantity">Vui lòng nhập số lượng</label>
                    <input type="number" class="form-control" id="quantity" min="0" />
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button id="update" type="button" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section DataTablesScripts
{
    <!-- DataTables  & Plugins -->
    <script src="~/Asset/Manager/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Asset/Manager/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Asset/Manager/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Asset/Manager/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Asset/Manager/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Asset/Manager/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Asset/Manager/plugins/jszip/jszip.min.js"></script>
    <script src="~/Asset/Manager/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Asset/Manager/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Asset/Manager/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Asset/Manager/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Asset/Manager/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- Select2 -->
    <script src="~/Asset/Manager/plugins/select2/js/select2.full.min.js"></script>

    <!-- Toastr -->
    <script src="~/Asset/Manager/plugins/toastr/toastr.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            $('#myTable').DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "language": {
                    "info": "Đang hiển thị trang _PAGE_/_PAGES_",
                    "paginate": {
                        "previous": "Trước",
                        "next": "Kế tiếp"
                    },
                    "search": "Tìm kiếm",
                    "zeroRecords": "Không tìm thấy kết quả phù hợp",
                    "infoEmpty": "Không có mục nào để hiển thị",
                    "infoFiltered": "(được lọc từ tổng số _MAX_ mục nhập)"
                },
                //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "buttons": [
                    { "extend": "copy", "text": "Copy" },
                    { "extend": "csv", "text": "CSV" },
                    { "extend": "excel", "text": "Excel" },
                    { "extend": "pdf", "text": "PDF" },
                    { "extend": "print", "text": "In" },
                    { "extend": "colvis", "text": "Hiển thị cột" }
                ],
                "paging": true,
                "ordering": true,
            }).buttons().container().appendTo('#myTable_wrapper .col-md-6:eq(0)');
        });
        function ChangeStatusStock(productid, sizeid, colorid) {
            $.ajax({
                type: "POST",
                url: "/admin/quan-ly/kho/thay-doi-trang-thai-san-pham",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ productid: productid, sizeid: sizeid, colorid: colorid }),
                async: true,
                processData: false,
                cache: false,
                success: function (result) {
                    if (result.success) {
                        document.getElementById('status-' + productid + '-' + sizeid + '-' + colorid).checked = result.status;
                    }
                }
            });
        }
        function GetIdForImportFunction(productid, sizeid, colorid) {
            document.getElementById("title").innerText = "Nhập kho";
            document.getElementById('update').onclick = function () { Import(productid, sizeid, colorid); };
        }
        function GetIdForExportFunction(productid, sizeid, colorid) {
            document.getElementById("title").innerText = "Xuất kho";
            document.getElementById('update').onclick = function () { Export(productid, sizeid, colorid); };
        }
        function Import(productid, sizeid, colorid) {
            var quantity = document.getElementById("quantity").value;
            var sizename = document.getElementById("row-" + productid + "-" + sizeid + "-" + colorid).cells[1].innerText.replace(/^\s+|\s+$/gm, '');
            var colorname = document.getElementById("row-" + productid + "-" + sizeid + "-" + colorid).cells[2].innerText.replace(/^\s+|\s+$/gm, '');
            var quantityInStock = document.getElementById("row-" + productid + "-" + sizeid + "-" + colorid).cells[3].innerText.replace(/^\s+|\s+$/gm, '');
            var status = document.getElementById("status-" + productid + "-" + sizeid + "-" + colorid).checked;
            $.ajax({
                type: "POST",
                url: "/admin/quan-ly/kho/nhap-kho",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ productid: productid, sizeid: sizeid, colorid: colorid, quantity: quantity }),
                async: true,
                processData: false,
                cache: false,
                success: function (result) {
                    if (result.success) {
                        var rowHTML = '<tr id="row-' + productid + '-' + sizeid + '-' + colorid + '">' +
                            '<td>' + productid + '</td>' +
                            '<td>' + sizename + '</td>' +
                            '<td>' + colorname + '&nbsp;&nbsp;<span><i class="fas fa-square" style="color: ' + colorid + '"></i></span></td>' +
                            '<td>' + (parseInt(quantity) + parseInt(quantityInStock)) + '</td>' +
                            '<td><input type = "checkbox" id = "status-' + productid + '-' + sizeid + '-' + colorid + '" onchange = "ChangeStatusStock(\'' + productid + '\', \'' + sizeid + '\', \'' + colorid + '\')" ' + (status == true ? 'checked' : '') + ' /></td>' +
                            '<td>' +
                            '<a class="text-success" style="cursor: pointer" data-toggle="modal" data-target="#modal-default" onclick="GetIdForImportFunction(\'' + productid + '\', \'' + sizeid + '\', \'' + colorid + '\');"><i class="fas fa-download"></i></a>' +
                            '<a class="text-danger ml-2" style="cursor: pointer" data-toggle="modal" data-target="#modal-default" onclick="GetIdForExportFunction(\'' + productid + '\', \'' + sizeid + '\', \'' + colorid + '\');"><i class="fas fa-upload"></i></a>' +
                            '</td>' +
                            '</tr>';
                        var table = $('#myTable').DataTable();
                        table.row('#row-' + productid + '-' + sizeid + '-' + colorid).remove().draw();
                        table.rows.add($(rowHTML)).draw();
                        document.getElementById('quantity').value = null;
                        $('#modal-default').modal('hide');
                        toastr.success(result.message);
                    }
                    else {
                        toastr.error(result.message);
                    }
                }
            });
        }
        function Export(productid, sizeid, colorid) {
            var quantity = document.getElementById("quantity").value;
            var sizename = document.getElementById("row-" + productid + "-" + sizeid + "-" + colorid).cells[1].innerText.replace(/^\s+|\s+$/gm, '');
            var colorname = document.getElementById("row-" + productid + "-" + sizeid + "-" + colorid).cells[2].innerText.replace(/^\s+|\s+$/gm, '');
            var quantityInStock = document.getElementById("row-" + productid + "-" + sizeid + "-" + colorid).cells[3].innerText.replace(/^\s+|\s+$/gm, '');
            var status = document.getElementById("status-" + productid + "-" + sizeid + "-" + colorid).checked;
            $.ajax({
                type: "POST",
                url: "/admin/quan-ly/kho/xuat-kho",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ productid: productid, sizeid: sizeid, colorid: colorid, quantity: quantity }),
                async: true,
                processData: false,
                cache: false,
                success: function (result) {
                    if (result.success) {
                        var rowHTML = '<tr id="row-' + productid + '-' + sizeid + '-' + colorid + '">' +
                            '<td>' + productid + '</td>' +
                            '<td>' + sizename + '</td>' +
                            '<td>' + colorname + '&nbsp;&nbsp;<span><i class="fas fa-square" style="color: ' + colorid + '"></i></span></td>' +
                            '<td>' + (parseInt(quantityInStock) - parseInt(quantity)) + '</td>' +
                            '<td><input type = "checkbox" id = "status-' + productid + '-' + sizeid + '-' + colorid + '" onchange = "ChangeStatusStock(\'' + productid + '\', \'' + sizeid + '\', \'' + colorid + '\')" ' + (status == true ? 'checked' : '') + ' /></td>' +
                            '<td>' +
                            '<a class="text-success" style="cursor: pointer" data-toggle="modal" data-target="#modal-default" onclick="GetIdForImportFunction(\'' + productid + '\', \'' + sizeid + '\', \'' + colorid + '\');"><i class="fas fa-download"></i></a>' +
                            '<a class="text-danger ml-2" style="cursor: pointer" data-toggle="modal" data-target="#modal-default" onclick="GetIdForExportFunction(\'' + productid + '\', \'' + sizeid + '\', \'' + colorid + '\');"><i class="fas fa-upload"></i></a>' +
                            '</td>' +
                            '</tr>';
                        var table = $('#myTable').DataTable();
                        table.row('#row-' + productid + '-' + sizeid + '-' + colorid).remove().draw();
                        table.rows.add($(rowHTML)).draw();
                        document.getElementById('quantity').value = null;
                        $('#modal-default').modal('hide');
                        toastr.success(result.message);
                    }
                    else {
                        toastr.error(result.message);
                    }
                }
            });
        }
        function InsertStock() {
            var productid = document.getElementById("productid").value;
            var sizeid = document.getElementById("sizeid").value;
            var colorid = document.getElementById("colorid").value;
            $.ajax({
                type: "POST",
                url: "/admin/quan-ly/kho/them-san-pham-vao-kho",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ productid: productid, sizeid: sizeid, colorid: colorid }),
                async: true,
                processData: false,
                cache: false,
                success: function (result) {
                    if (result.success) {
                        var rowHTML = '<tr id="row-' + productid + '-' + sizeid + '-' + colorid + '">' +
                            '<td>' + productid + '</td>' +
                            '<td>' + document.getElementById("sizeid").options[document.getElementById("sizeid").selectedIndex].text + '</td>' +
                            '<td>' + document.getElementById("colorid").options[document.getElementById("colorid").selectedIndex].text + '&nbsp;&nbsp;<span><i class="fas fa-square" style="color: ' + colorid + '"></i></span></td>' +
                            '<td>0</td>' +
                            '<td><input type = "checkbox" id = "status-' + productid + '-' + sizeid + '-' + colorid + '" onchange = "ChangeStatusStock(\'' + productid + '\', \'' + sizeid + '\', \'' + colorid + '\')" /></td>' +
                            '<td>' +
                            '<a class="text-success" style="cursor: pointer" data-toggle="modal" data-target="#modal-default" onclick="GetIdForImportFunction(\'' + productid + '\', \'' + sizeid + '\', \'' + colorid + '\');"><i class="fas fa-download"></i></a>' +
                            '<a class="text-danger ml-2" style="cursor: pointer" data-toggle="modal" data-target="#modal-default" onclick="GetIdForExportFunction(\'' + productid + '\', \'' + sizeid + '\', \'' + colorid + '\');"><i class="fas fa-upload"></i></a>' +
                            '</td>' +
                            '</tr>';
                        var table = $('#myTable').DataTable();
                        table.rows.add($(rowHTML)).draw();
                        toastr.success(result.message);
                    }
                    else {
                        toastr.error(result.message);
                    }
                }
            });
        }
    </script>

}
