<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lấy lại mật khẩu</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Asset/Manager/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Asset/Manager/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Asset/Manager/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#" class="h1"><b>Admin</b>Yolo</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Bạn quên mật khẩu? Tại đây bạn có thể dễ dàng lấy lại mật khẩu mới.</p>
                @using (Html.BeginForm("quen-mat-khau", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <input name="email" type="email" class="form-control" placeholder="Email" required maxlength="254">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <p class="@( "Vui lòng kiểm tra email đã đăng ký.".Equals(ViewBag.Notification) ? "text-success" : "text-danger")">
                            @ViewBag.Notification
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Lấy mật khẩu mới</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

                <p class="mt-3 mb-1">
                    <a href="@Url.Action("dang-nhap","Admin")">Đăng nhập</a>
                </p>
                <p class="mb-1">
                    Hoặc
                </p>
                <p class="mb-0">
                    <a href="@Url.Action("dang-ky","Admin")" class="text-center">Tạo tài khoản mới</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Asset/Manager/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Asset/Manager/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Asset/Manager/dist/js/adminlte.min.js"></script>
</body>
</html>